$v-app-loading-text: "Please wait, KogniUSOS is loading...";
$v-font-family: 'Helvetica';
$v-font-color: hsl(0, 0%, 38%);


// Modify the base color of the theme
$v-background-color: hsla(92, 70%, 44%, 0.29);

// Import valo after setting the parameters
@import "../valo/valo";

@mixin mytheme {
  @include valo;

  // Your theme's rules go here
}